In [1]:
# import the libaries
import numpy as np
import pandas as pd
pd.set_option('display.max_columns',None)

In [2]:
# Read the data
df_employee_data = pd.read_csv("C:/Users/tarun/Downloads/GDTC/Data For Python Assessment/employee_data.csv")
df_insurance_data = pd.read_csv("C:/Users/tarun/Downloads/GDTC/Data For Python Assessment/insurance_data.csv")
df_vendor_data = pd.read_csv("C:/Users/tarun/Downloads/GDTC/Data For Python Assessment/vendor_data.csv")

In [3]:
df_employee_data.head()

,AGENT_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,AGENT00001,Ray Johns,1993-06-05,1402 Maggies Way,NaN,Waterbury Center,VT,5677,34584958,HKUN51252328472585
1,AGENT00002,Angelo Borjon,2005-12-27,414 Tanya Pass,NaN,Panama City,FL,32404,107363763,OPIS19290040088204
2,AGENT00003,Candy Spellman,2003-09-02,606 National Street,#306,Fayetteville,AR,72701,81744097,YSCJ67489688482590
3,AGENT00004,Mary Smith,2004-09-23,235 Hugh Thomas Drive,NaN,Panama City,FL,32404,67563771,ZANG21285355574581
4,AGENT00005,Mildred Diaz,2011-06-21,3426 Broadview Street,NaN,Montgomery,AL,36110,114951317,DZFS82244494451134

In [4]:
df_insurance_data.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,Ricardo Gatlin,8595 West 81st Drive,NaN,Arvada,CO,80005,685-33-3536,N,61,80,Y,4,L,Rent,MI,40125819,JUND46859540983731,Bachelor,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,Lashawn Engles,637 Britannia Drive,NaN,Vallejo,CA,94591,378-36-0672,N,47,68,Y,6,L,Rent,MI,99513168,WGZZ90128415227650,PhD,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,Steven Bassett,2803 River Drive,NaN,Thunderbolt,GA,31404,669-92-1861,Y,36,16,Y,7,L,Mortgage,MI,18429110,WIKE91555436351397,Masters,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,Jason Rodriguez,7573 National Drive,NaN,Livermore,CA,94550,703-40-1033,Y,51,16,Y,2,M,Rent,HI,70752391,VYJW71311537294027,Masters,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472

In [5]:
df_vendor_data.head()

,VENDOR_ID,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,VNDR00001,"King, Proctor and Jones",2027 North Shannon Drive,#5,Fayetteville,AR,72703
1,VNDR00002,Garcia Ltd,5701 East Shirley Lane,NaN,Montgomery,AL,36117
2,VNDR00003,Cherry LLC,1217 Cottondale Road,NaN,Montgomery,AL,36109
3,VNDR00004,Mays-Benson,227 West Montgomery Cross Road,#736,Savannah,GA,31406
4,VNDR00005,Wilson PLC,23 North Hill Street,NaN,Nashville,TN,37210

# Task 1 Merge the dataset

merge 3 dataset into 1 view of data

In [6]:
new_df =df_insurance_data.merge(df_employee_data, on='AGENT_ID', how='left').merge(df_vendor_data, on='VENDOR_ID',how='left')

In [7]:
new_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,Ricardo Gatlin,8595 West 81st Drive,NaN,Arvada,CO,80005,685-33-3536,N,61,80,Y,4,L,Rent,MI,40125819,JUND46859540983731,Bachelor,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,Lashawn Engles,637 Britannia Drive,NaN,Vallejo,CA,94591,378-36-0672,N,47,68,Y,6,L,Rent,MI,99513168,WGZZ90128415227650,PhD,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,Steven Bassett,2803 River Drive,NaN,Thunderbolt,GA,31404,669-92-1861,Y,36,16,Y,7,L,Mortgage,MI,18429110,WIKE91555436351397,Masters,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,Jason Rodriguez,7573 National Drive,NaN,Livermore,CA,94550,703-40-1033,Y,51,16,Y,2,M,Rent,HI,70752391,VYJW71311537294027,Masters,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0

In [8]:
# shape of Dataset
new_df.shape

(10000, 53)

# By merging the data set ,new_column == 53  new_row == 10000

# Task2

Top three insurance type

In [9]:
new_df['INSURANCE_TYPE'].value_counts().sort_values(ascending=False).head(3)

Property    1692
Mobile      1692
Health      1690
Name: INSURANCE_TYPE, dtype: int64

In [10]:
new_df[['INSURANCE_TYPE','CLAIM_STATUS']].value_counts()

INSURANCE_TYPE  CLAIM_STATUS
Mobile          A               1608
Property        A               1608
Health          A               1605
Life            A               1605
Travel          A               1582
Motor           A               1489
Travel          D                 88
Health          D                 85
Motor           D                 85
Mobile          D                 84
Property        D                 84
Life            D                 77
dtype: int64

# Top three Insurance_type that are getting most insurance claims are Property,Mobile,Health

# Task3

# TOP 5 states where we are getting most insurance claims for customer belonging to High(H) risk segment.

In [11]:
new_df['RISK_SEGMENTATION'].value_counts().head()

L    4395
M    4150
H    1455
Name: RISK_SEGMENTATION, dtype: int64

In [12]:
High_risk_seg = new_df.groupby(['RISK_SEGMENTATION'])['STATE_x'].value_counts()

In [13]:
High_risk_seg

RISK_SEGMENTATION  STATE_x
H                  CA         148
                   AZ         105
                   FL         104
                   TN         100
                   AR          97
                   CO          95
                   CT          92
                   DC          92
                   GA          88
                   AL          86
                   VT          83
                   MA          81
                   KY          76
                   MD          76
                   AK          66
                   OK          66
L                  CA         456
                   CO         298
                   AR         296
                   AL         277
                   MD         275
                   KY         273
                   TN         272
                   FL         270
                   CT         269
                   GA         260
                   VT         257
                   AZ         248
                   DC         242
                   MA         239
                   AK         235
                   OK         228
M                  CA         431
                   CO         284
                   FL         276
                   TN         269
                   GA         265
                   AL         260
                   AR         251
                   AZ         250
                   DC         247
                   VT         239
                   OK         237
                   CT         233
                   KY         232
                   MA         229
                   MD         225
                   AK         222
Name: STATE_x, dtype: int64

Top Five states where we are getting most insurance claims for customer belonging to High(H) risk segment are 
1) CA == 148
2) AZ == 105
3) FL == 104
4) TN == 100
5) AR == 97

# Task4

Business wants to create a new variable “COLOCATION” which will have following values IF
Customer State == Incident State == Agent Address State THEN 1 ELSE 0
Find the mean of this new column

In [14]:
new_df['COLOCATION']=np.where((new_df['STATE_y'] == new_df['INCIDENT_STATE']) & (new_df['STATE_y'] == new_df['STATE_x']),1,0)

In [15]:
new_df['COLOCATION'].value_counts()

0    9956
1      44
Name: COLOCATION, dtype: int64

out of 10000, 44 dataset belongs to (Customer State == Incident State == Agent Address State), Based on that a new column 'colocation' is created

In [16]:
new_df['COLOCATION'].mean()

0.0044

# Mean of the COLOCATION column == 0.044

# Task 5

If for any
claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE ==1
Then Update “AUTHORITY_CONTACTED” to Police.

In [17]:
new_df['AUTHORITY_CONTACTED'].value_counts()

Ambulance    4082
Police       2982
None         1945
Other         991
Name: AUTHORITY_CONTACTED, dtype: int64

In [18]:
new_df['POLICE_REPORT_AVAILABLE'].value_counts()

1    6928
0    3072
Name: POLICE_REPORT_AVAILABLE, dtype: int64

In [19]:
police_report = new_df.groupby(['AUTHORITY_CONTACTED'])['POLICE_REPORT_AVAILABLE'].value_counts()
police_report

AUTHORITY_CONTACTED  POLICE_REPORT_AVAILABLE
Ambulance            1                          2821
                     0                          1261
None                 1                          1367
                     0                           578
Other                1                           682
                     0                           309
Police               1                          2058
                     0                           924
Name: POLICE_REPORT_AVAILABLE, dtype: int64

## 4870 Data entry error was detected in the data where claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1 .

In [20]:
new_df.loc[(new_df['AUTHORITY_CONTACTED'] != 'Police') & (new_df['POLICE_REPORT_AVAILABLE'] == 1), 'AUTHORITY_CONTACTED'] = 'Police'

In [21]:
new_police_report = new_df.groupby(['AUTHORITY_CONTACTED'])['POLICE_REPORT_AVAILABLE'].value_counts()
new_police_report

AUTHORITY_CONTACTED  POLICE_REPORT_AVAILABLE
Ambulance            0                          1261
None                 0                           578
Other                0                           309
Police               1                          6928
                     0                           924
Name: POLICE_REPORT_AVAILABLE, dtype: int64

## so,we have 6928 data which is reported to police

In [22]:
new_df['AUTHORITY_CONTACTED'].value_counts()

Police       7852
Ambulance    1261
None          578
Other         309
Name: AUTHORITY_CONTACTED, dtype: int64

# Task #6

Business wants to check the Claim Amount for deviation for each transaction, they would like you to calculate as follow
CLAIM_DEVIATION = AVG_CLAIM_AMOUNT_FOR_LAST_30DAYS (same insurance type)/ CURRENT_CLAIM_AMOUNT
If the value < 0.5 THEN CLAIM_DEVIATION = 1 ELSE 0
If there is less than 30 days of transaction history THEN-1 
Note: LAST_30DAYS does not include current day

In [23]:
new_df['TXN_DATE_TIME'] = pd.to_datetime(new_df['TXN_DATE_TIME'])

In [24]:
new_df['TXN_DATE_TIME'].min()

Timestamp('2020-06-01 00:00:00')

In [25]:
new_df['TXN_DATE_TIME'].max()

Timestamp('2021-06-30 00:00:00')

In [26]:
last_30_days_data = new_df.loc[(new_df['TXN_DATE_TIME'] > '2021-05-31') & (new_df['TXN_DATE_TIME'] < '2021-06-30')]

In [27]:
last_30_days_data.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION
9216,2021-06-01,TXN00009217,A00002837,PLC00001916,2019-02-13,2021-05-20,2021-05-25,Mobile,8.94,700,Douglas Alexander,2276 West Woodley Square,NaN,Montgomery,AL,36116,684-66-6942,N,51,67,Y,2,H,Rent,LI,69928275,RPTM57705573318704,High School,A,Total Loss,Ambulance,1,0,FL,Fountain,17,AGENT00540,VNDR00359,William Harper,2003-12-28,1352 Purdue Street,NaN,San Leandro,CA,94579,66068824,JHVR06078435504022,Perez PLC,37 Rushforde Drive,NaN,Manchester,CT,6040.0,0
9217,2021-06-01,TXN00009218,A00007497,PLC00003165,2017-11-28,2021-05-20,2021-05-25,Property,81.88,39000,Jermaine Grawe,5403 Illinois Avenue,NaN,Nashville,TN,37209,322-45-3264,Y,37,79,N,3,M,Own,MI,75961608,TPQV92613832063828,MD,A,Major Loss,Police,0,1,AL,Montgomery,3,AGENT00888,VNDR00523,Norma Patterson,2000-07-17,27 Leary Drive,NaN,Savannah,GA,31406,57299592,ZBVU79468164949657,Baker Ltd,1123 Ardee Avenue,NaN,Nashville,TN,37216.0,0
9218,2021-06-01,TXN00009219,A00002184,PLC00007907,2017-09-20,2021-05-30,2021-05-30,Health,140.12,19000,Patricia Buenrostro,105 Courtland Drive,NaN,Montgomery,AL,36105,857-73-0632,N,44,18,Y,7,M,Own,MI,31491785,CJTE40411720976144,College,A,Major Loss,Police,1,1,TN,Nashville,23,AGENT00222,NaN,Jewell Johnson,2012-11-19,4405 West Solano Drive South,NaN,Glendale,AZ,85301,113801332,UVOS49712303537381,NaN,NaN,NaN,NaN,NaN,NaN,0
9219,2021-06-01,TXN00009220,A00005807,PLC00001669,2011-08-15,2021-05-29,2021-05-29,Travel,98.11,1000,John Buchanan,8848 North New World Drive,NaN,Glendale,AZ,85302,018-82-9756,N,51,45,Y,6,H,Rent,MI,55188171,TXMQ82108343632129,Bachelor,A,Minor Loss,Ambulance,1,0,KY,Louisville,21,AGENT00351,VNDR00082,Sally Hayden,2015-10-19,1709 7th Avenue Northwest,NaN,Ardmore,OK,73401,58987395,REFX57687915628904,Barnes PLC,2409 Park Street,NaN,Selma,CA,93662.0,0
9220,2021-06-01,TXN00009221,A00000349,PLC00006212,2016-10-19,2021-05-28,2021-05-29,Travel,50.27,5000,Bonita Brennan,702 Farragut Street Northwest,NaN,Washington,DC,20011,870-49-4178,Y,48,88,Y,5,L,Own,LI,78254503,OSYR74163517668142,College,A,Major Loss,Police,1,1,AZ,Glendale,9,AGENT00532,NaN,John Lester,2017-11-21,1275 South Holland Drive,NaN,Fayetteville,AR,72704,14984374,SKOQ30843505901458,NaN,NaN,NaN,NaN,NaN,NaN,0

In [28]:
last_30_days_data['INSURANCE_TYPE'].value_counts()

Life        137
Health      131
Mobile      129
Property    122
Travel      121
Motor       119
Name: INSURANCE_TYPE, dtype: int64

In [29]:
avr_claim_amt = last_30_days_data.groupby(['INSURANCE_TYPE'])['CLAIM_AMOUNT'].mean().reset_index()
avr_claim_amt

  INSURANCE_TYPE  CLAIM_AMOUNT
0         Health  10954.198473
1           Life  52094.890511
2         Mobile    379.069767
3          Motor   5571.428571
4       Property  24811.475410
5         Travel   2809.917355

In [30]:
new_df['CLAIM_DEVIATION'] = last_30_days_data['CLAIM_AMOUNT'].mean() / new_df['CLAIM_AMOUNT']

In [31]:
new_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION
0,2020-06-01,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0,1.851984
1,2020-06-01,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,Ricardo Gatlin,8595 West 81st Drive,NaN,Arvada,CO,80005,685-33-3536,N,61,80,Y,4,L,Rent,MI,40125819,JUND46859540983731,Bachelor,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0,0.641071
2,2020-06-01,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,Lashawn Engles,637 Britannia Drive,NaN,Vallejo,CA,94591,378-36-0672,N,47,68,Y,6,L,Rent,MI,99513168,WGZZ90128415227650,PhD,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0,1.282142
3,2020-06-01,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,Steven Bassett,2803 River Drive,NaN,Thunderbolt,GA,31404,669-92-1861,Y,36,16,Y,7,L,Mortgage,MI,18429110,WIKE91555436351397,Masters,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0,1.041741
4,2020-06-01,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,Jason Rodriguez,7573 National Drive,NaN,Livermore,CA,94550,703-40-1033,Y,51,16,Y,2,M,Rent,HI,70752391,VYJW71311537294027,Masters,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0,5.555951

In [32]:
new_df['CLAIM_DEVIATION']=np.where(new_df['CLAIM_DEVIATION']>=0.5,'0',new_df['CLAIM_DEVIATION'])

In [33]:
new_df[new_df['CLAIM_DEVIATION']!= '0']

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION
5,2020-06-01,TXN00000006,A00003571,PLC00007244,2012-12-28,2020-05-20,2020-05-25,Life,87.02,63000,Terrance Han,5275 North 59th Avenue,NaN,Glendale,AZ,85301,059-08-4065,N,42,38,Y,2,M,Rent,MI,124246313,TMDB19464299963687,College,A,Major Loss,Police,0,1,AZ,Glendale,0,AGENT00402,NaN,Luciano Jackson,2009-08-01,10826 Pointe Royal Drive,NaN,Bakersfield,CA,93311,35911575,VHQA45663806811975,NaN,NaN,NaN,NaN,NaN,NaN,0,0.26456908630821674
10,2020-06-01,TXN00000011,A00007952,PLC00003007,2019-03-30,2020-05-20,2020-05-25,Life,61.45,92000,Janet Watts,200 Redwood Road,NaN,Manchester,CT,6040,233-66-3524,N,59,14,Y,7,M,Mortgage,MI,58804083,CQZQ73037026635053,Masters,A,Major Loss,Police,1,1,MD,Crofton,23,AGENT01091,VNDR00163,Joshua Losey,2004-10-09,2246 West Fairview Avenue,NaN,Montgomery,AL,36108,123461076,YIAT74328087165676,Foster-Sanchez,4255 Tanager Common,NaN,Fremont,CA,94555.0,0,0.1811723091023658
13,2020-06-01,TXN00000014,A00007988,PLC00002521,2020-01-29,2020-05-18,2020-05-23,Life,64.16,51000,Felicita Stoughton,110 Oxford Road,NaN,Savannah,GA,31419,170-28-1062,N,31,118,Y,7,L,Own,LI,64537739,GIOA39230059052323,High School,A,Total Loss,Ambulance,1,0,AK,Anchorage,0,AGENT01094,NaN,Robert Venable,1997-04-15,3949 Ethan Allen Highway,NaN,Saint Albans City,VT,5478,69952254,TOGM23655710729269,NaN,NaN,NaN,NaN,NaN,NaN,0,0.32682063602779715
16,2020-06-01,TXN00000017,A00007184,PLC00000118,2014-04-17,2020-05-13,2020-05-18,Property,114.42,39000,Michael Kimball,42 Edison Road,NaN,Manchester,CT,6040,448-54-0272,Y,53,19,Y,5,M,Mortgage,MI,71737399,XHMQ62339445289593,Bachelor,A,Major Loss,Police,0,1,DC,Washington,2,AGENT00911,VNDR00238,Troy Caldwell,1990-10-04,14 6th Street,#1,Medford,MA,2155,12632408,QBSF82653869882343,Moore Inc,2643 North Sierra Avenue,NaN,Fayetteville,AR,72703.0,0,0.4273808317286578
17,2020-06-01,TXN00000018,A00007426,PLC00000165,2015-03-25,2020-05-22,2020-05-25,Property,157.18,40000,Mark Huang,9545 West 74th Avenue,NaN,Arvada,CO,80005,696-53-5272,Y,32,106,Y,4,L,Mortgage,HI,47797949,AAET31045958150067,Bachelor,A,Major Loss,Police,0,1,AL,Montgomery,14,AGENT00079,NaN,Rivka Robinson,1997-12-11,1008 Rhode Island Avenue Northwest,NaN,Washington,DC,20001,119270857,SAHS72824131306931,NaN,NaN,NaN,NaN,NaN,NaN,0,0.4166963109354414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9985,2021-06-30,TXN00009986,A00001397,PLC00008000,2019-03-08,2021-06-20,2021-06-23,Life,97.20,93000,Lynette Provost,10202 Vista Drive,NaN,Cupertino,CA,95014,313-32-9470,N,56,37,Y,6,L,Own,LI,100062728,JQWN71512551695005,NaN,A,Total Loss,None,1,0,GA,Savannah,5,AGENT01104,VNDR00255,Mitchell Cooks,1994-04-24,2555 West 69th Court,NaN,Anchorage,AK,99502,73574819,FOJU51018344352747,"Meadows, Wiggins and Lewis",50 Winthrop Avenue,NaN,Lawrence,MA,1843.0,0,0.1792242197571791
9987,2021-06-30,TXN00009988,A00005204,PLC00006063,2012-11-22,2021-06-12,2021-06-17,Life,78.10,65000,Bernadine Contreras,25 Church Street,A,Pittsfield,MA,1201,252-04-8532,Y,32,71,Y,2,L,Own,MI,13595201,SGSC27837584514796,Bachelor,A,Total Loss,Police,1,1,CA,Hayward,11,AGENT00821,VNDR00186,Melinda Smith,2012-08-22,61 Callahan Way,#B4,Mammoth Lakes,CA,93546,75419781,BSRY60227494621328,Smith PLC,2314 Marian Bay Circle,NaN,Anchorage,AK,99515.0,0,0.2564284990371947
9993,2021-06-30,TXN00009994,A00008267,PLC00009629,2016-08-22,2021-06-22,2021-06-25,Life,91.53,78000,Roxanne Shipman,3102 Kinvara Lane,NaN,Louisville,KY,40242,355-62-7332,Y,44,41,Y,5,L,Own,LI,95228567,IAAI30164611107211,Bachelor,A,Minor Loss,Police,0,1,TN,Nashville,2,AGENT00770,VNDR00560,James Santiago,1990-12-02,2115 Northwest 22nd Street,NaN,Oklahoma City,OK,73107,95424251,YVCD80951872205447,Brown Group,6950 Reno Drive,NaN,Arvada,CO,80002.0,0,0.2136904158643289
9994,2021-06-30,TXN00009995,A00003508,PLC00009242,2011-10-01,2021-06-24,2021-06-26,Property,135.33,34000,Nakisha Johnson,416 McIver Street,NaN,Nashville,TN,37211,210-20-0690,Y,51,65,Y,2,M,Own,HI,26811639,IJJM08036916116324,PhD,A,Major Loss,Ambulance,1,0,OK,Edmond,6,AGENT00481,VNDR00262,Mary Scribner,2000-07-15,14505 Landis Villa Drive,NaN,Louisville,KY,40245,88548490,VZTY16125395831114,Lee PLC,1650 Garland Avenue,NaN,Fayetteville,AR,72703.0,0,0.49023095404169575
9996,2021-06-30,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,Paula Noel,501 West Maple Street,#203,Fayetteville,AR,72701,069-65-6089,Y,52,92,Y,3,L,Mortgage,LI,89666038,ZWBN24881448170175,Masters,A,Total Loss,Police,1,0,MA,Worcester,6,AGENT00254,VNDR00598,Freda Dudley,2013-01-17,1363 Dean Forest Road,NaN,Savannah,GA,31405,91206790,AHEF60771774635030,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587.0,0,0.24877391697638293

In [34]:
new_df['CLAIM_DEVIATION']=np.where(new_df['CLAIM_DEVIATION']!= '0','1',new_df['CLAIM_DEVIATION'])

In [35]:
new_df['CLAIM_DEVIATION'].value_counts()

0    8374
1    1626
Name: CLAIM_DEVIATION, dtype: int64

In [36]:
new_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION
0,2020-06-01,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0,0
1,2020-06-01,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,Ricardo Gatlin,8595 West 81st Drive,NaN,Arvada,CO,80005,685-33-3536,N,61,80,Y,4,L,Rent,MI,40125819,JUND46859540983731,Bachelor,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0,0
2,2020-06-01,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,Lashawn Engles,637 Britannia Drive,NaN,Vallejo,CA,94591,378-36-0672,N,47,68,Y,6,L,Rent,MI,99513168,WGZZ90128415227650,PhD,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0,0
3,2020-06-01,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,Steven Bassett,2803 River Drive,NaN,Thunderbolt,GA,31404,669-92-1861,Y,36,16,Y,7,L,Mortgage,MI,18429110,WIKE91555436351397,Masters,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0,0
4,2020-06-01,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,Jason Rodriguez,7573 National Drive,NaN,Livermore,CA,94550,703-40-1033,Y,51,16,Y,2,M,Rent,HI,70752391,VYJW71311537294027,Masters,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0,0

# Task==7

Find All Agents who have worked on more than 2 types of Insurance Claims.Sort them by
Total Claim Amount Approved under them in descending order

In [37]:
new_df['AGENT_ID'].value_counts().head()

AGENT00992    19
AGENT00319    18
AGENT00388    17
AGENT00849    17
AGENT01097    16
Name: AGENT_ID, dtype: int64

In [38]:
new_df['AGENT_ID'].value_counts().head()

AGENT00992    19
AGENT00319    18
AGENT00388    17
AGENT00849    17
AGENT01097    16
Name: AGENT_ID, dtype: int64

In [39]:
Total_claim = new_df.groupby(['AGENT_ID','AGENT_NAME','CLAIM_AMOUNT'])['INSURANCE_TYPE'].count().reset_index().sort_values('INSURANCE_TYPE', ascending=False)
Total_claim

        AGENT_ID         AGENT_NAME  CLAIM_AMOUNT  INSURANCE_TYPE
5429  AGENT00723     Thomas Phariss          5000               4
2909  AGENT00385       Sarah Pearce          5000               4
3002  AGENT00396       Majorie Holt          3000               4
1081  AGENT00147         Brian Webb           700               4
1666  AGENT00224       Evelyn Ortiz          3000               4
...          ...                ...           ...             ...
3149  AGENT00414   Christine Carter         38000               1
3148  AGENT00414   Christine Carter         26000               1
3147  AGENT00414   Christine Carter         20000               1
3146  AGENT00414   Christine Carter         18000               1
8942  AGENT01200  Virginia Stachura         56000               1

[8943 rows x 4 columns]

In [40]:
Total_claim_amt_morethan_two_insurance = Total_claim[Total_claim['INSURANCE_TYPE']>2].sort_values('CLAIM_AMOUNT',ascending=False)
Total_claim_amt_morethan_two_insurance

        AGENT_ID         AGENT_NAME  CLAIM_AMOUNT  INSURANCE_TYPE
5963  AGENT00794     Gladys Parsons         20000               3
5163  AGENT00688      Glenda Briney         20000               3
6641  AGENT00889        John Martin         20000               3
5660  AGENT00752      Trevor Bishop         19000               3
8435  AGENT01125   Frank Valenzuela         15000               3
...          ...                ...           ...             ...
2847  AGENT00379     Tracy Straight           300               3
3142  AGENT00414   Christine Carter           200               3
5504  AGENT00732        Sylvia Tran           100               3
746   AGENT00100        Steve Hayes           100               4
3108  AGENT00409  Darryl Hafenstein           100               3

[97 rows x 4 columns]

# Hence there are 97 agent who worked for more than two insurance type

# Task #8

Mobile & Travel Insurance premium are discounted by 10%
Health and Property Insurance premium are increased by 7%
Life and Motor Insurance premium are marginally increased by 2%
What will be overall change in % of the Premium Amount Collected for all these Customer?

In [42]:
new_df['INSURANCE_TYPE'].value_counts()

Property    1692
Mobile      1692
Health      1690
Life        1682
Travel      1670
Motor       1574
Name: INSURANCE_TYPE, dtype: int64

In [43]:
new_df[['INSURANCE_TYPE','PREMIUM_AMOUNT']]

     INSURANCE_TYPE  PREMIUM_AMOUNT
0            Health          157.13
1          Property          141.71
2          Property          157.24
3            Health          172.87
4            Travel           88.53
...             ...             ...
9995          Motor          105.75
9996           Life           64.59
9997         Health          183.50
9998          Motor          113.46
9999         Mobile            8.22

[10000 rows x 2 columns]

In [44]:
per_change_premium_amt = new_df.groupby(['INSURANCE_TYPE'])['PREMIUM_AMOUNT'].sum().reset_index().sort_values('PREMIUM_AMOUNT', ascending=False)
per_change_premium_amt

  INSURANCE_TYPE  PREMIUM_AMOUNT
0         Health       252455.73
4       Property       202285.83
3          Motor       165391.98
1           Life       125621.22
5         Travel       124139.77
2         Mobile        15191.42

In [45]:
per_change_premium_amt['PREMIUM_AMOUNT'].sum()

885085.9500000001

In [46]:
new_df['PREMIUM_AMOUNT'].sum()

885085.95

In [47]:
per_change_premium_amt['PERCENTAGE'] = (per_change_premium_amt['PREMIUM_AMOUNT']/ per_change_premium_amt['PREMIUM_AMOUNT'].sum())*100

In [48]:
per_change_premium_amt

  INSURANCE_TYPE  PREMIUM_AMOUNT  PERCENTAGE
0         Health       252455.73   28.523301
4       Property       202285.83   22.854936
3          Motor       165391.98   18.686545
1           Life       125621.22   14.193110
5         Travel       124139.77   14.025730
2         Mobile        15191.42    1.716378

In [49]:
Mobile = (15191.42 - (15191.42*0.1))
Travel = (124139.77 - (124139.77*0.1))
Health = (252455.73 + (252455.73*0.07))
Property =(202285.83 + (202285.83*0.07))
Life = (125621.22 + (125621.22*0.02))
Motor = (165391.98 + (165391.98*0.02))

In [50]:
NEW_PREMIUM_AMOUNT = [Health,Property,Motor,Life,Travel,Mobile]

In [51]:
per_change_premium_amt['NEW_PREMIUM_AMOUNT'] = NEW_PREMIUM_AMOUNT

In [52]:
per_change_premium_amt

  INSURANCE_TYPE  PREMIUM_AMOUNT  PERCENTAGE  NEW_PREMIUM_AMOUNT
0         Health       252455.73   28.523301         270127.6311
4       Property       202285.83   22.854936         216445.8381
3          Motor       165391.98   18.686545         168699.8196
1           Life       125621.22   14.193110         128133.6444
5         Travel       124139.77   14.025730         111725.7930
2         Mobile        15191.42    1.716378          13672.2780

In [53]:
per_change_premium_amt['NEW_PREMIUM_PERCENTAGE'] = (per_change_premium_amt['NEW_PREMIUM_AMOUNT']/ per_change_premium_amt['NEW_PREMIUM_AMOUNT'].sum())*100

In [54]:
per_change_premium_amt

,INSURANCE_TYPE,PREMIUM_AMOUNT,PERCENTAGE,NEW_PREMIUM_AMOUNT,NEW_PREMIUM_PERCENTAGE
0,Health,252455.73,28.523301,270127.6311,29.723387
4,Property,202285.83,22.854936,216445.8381,23.816532
3,Motor,165391.98,18.686545,168699.8196,18.562818
1,Life,125621.22,14.193110,128133.6444,14.099135
5,Travel,124139.77,14.025730,111725.7930,12.293704
2,Mobile,15191.42,1.716378,13672.2780,1.504424

In [55]:
overall_per_change_premium = per_change_premium_amt['NEW_PREMIUM_PERCENTAGE'] - per_change_premium_amt['PERCENTAGE']

In [56]:
per_change_premium_amt['OVERALL_PER_CHANGE_PREMIUM_AMT'] = overall_per_change_premium

# overall change in % of the Premium Amount Collected for all these Customer are

In [57]:
per_change_premium_amt

,INSURANCE_TYPE,PREMIUM_AMOUNT,PERCENTAGE,NEW_PREMIUM_AMOUNT,NEW_PREMIUM_PERCENTAGE,OVERALL_PER_CHANGE_PREMIUM_AMT
0,Health,252455.73,28.523301,270127.6311,29.723387,1.200086
4,Property,202285.83,22.854936,216445.8381,23.816532,0.961596
3,Motor,165391.98,18.686545,168699.8196,18.562818,-0.123726
1,Life,125621.22,14.193110,128133.6444,14.099135,-0.093975
5,Travel,124139.77,14.025730,111725.7930,12.293704,-1.732027
2,Mobile,15191.42,1.716378,13672.2780,1.504424,-0.211954

# Task9

Business wants to give discount to customer who are loyal and under stress due to Covid19. They have laid down an eligibility Criteria as follow
IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N”AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0
Create a new column “ELIGIBLE_FOR_DISCOUNT” and find it mean.

In [58]:
new_df['ELIGIBLE_FOR_DISCOUNT']=np.where(((new_df['TENURE']>60) & (new_df['EMPLOYMENT_STATUS']=='N') &(new_df['NO_OF_FAMILY_MEMBERS']>=4)),1,0)

In [59]:
new_df['ELIGIBLE_FOR_DISCOUNT'].value_counts()

0    9701
1     299
Name: ELIGIBLE_FOR_DISCOUNT, dtype: int64

out of 10000 dataset 299 data belongs to ''CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N” AND NO_OF_FAMILY_MEMBERS >=4''

In [60]:
new_df['ELIGIBLE_FOR_DISCOUNT'].mean()

0.0299

Mean of Eligible_for_discount column are 0.0299

# Task 10

Business wants to check Claim Velocity which is defined as follow
CLAIM_VELOCITY = NO_OF_CLAIMS_IN_LAST30DAYS (for the current insurance type)/ NO_OF_CLAIMS_IN_LAST3DAYS (for the current insurance type)
Note: LAST30DAYS & LAST3DAYS does not include current day

In [61]:
new_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION,ELIGIBLE_FOR_DISCOUNT
0,2020-06-01,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0,0,0
1,2020-06-01,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,Ricardo Gatlin,8595 West 81st Drive,NaN,Arvada,CO,80005,685-33-3536,N,61,80,Y,4,L,Rent,MI,40125819,JUND46859540983731,Bachelor,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0,0,0
2,2020-06-01,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,Lashawn Engles,637 Britannia Drive,NaN,Vallejo,CA,94591,378-36-0672,N,47,68,Y,6,L,Rent,MI,99513168,WGZZ90128415227650,PhD,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0,0,0
3,2020-06-01,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,Steven Bassett,2803 River Drive,NaN,Thunderbolt,GA,31404,669-92-1861,Y,36,16,Y,7,L,Mortgage,MI,18429110,WIKE91555436351397,Masters,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0,0,0
4,2020-06-01,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,Jason Rodriguez,7573 National Drive,NaN,Livermore,CA,94550,703-40-1033,Y,51,16,Y,2,M,Rent,HI,70752391,VYJW71311537294027,Masters,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0,0,0

In [62]:
new_df['CLAIM_STATUS'].value_counts()

A    9497
D     503
Name: CLAIM_STATUS, dtype: int64

In [63]:
last_30_days_claim_count = new_df.loc[(new_df['TXN_DATE_TIME']>'2021-05-31') & (new_df['TXN_DATE_TIME']<'2021-06-30')]
last_3_days_claim_count = new_df.loc[(new_df['TXN_DATE_TIME']>'2021-06-27') & (new_df['TXN_DATE_TIME']<'2021-06-30')]

In [64]:
last_30_days_claim_count.groupby(['INSURANCE_TYPE'])['CLAIM_STATUS'].count().reset_index()

  INSURANCE_TYPE  CLAIM_STATUS
0         Health           131
1           Life           137
2         Mobile           129
3          Motor           119
4       Property           122
5         Travel           121

In [65]:
last_3_days_claim_count.groupby(['INSURANCE_TYPE'])['CLAIM_STATUS'].count().reset_index()

  INSURANCE_TYPE  CLAIM_STATUS
0         Health             9
1           Life             9
2         Mobile             2
3          Motor            10
4       Property             9
5         Travel            12

# New claim_velocity column are

In [66]:
claim_count = pd.DataFrame()
claim_count['Insurance_Type'] = ['Health', 'Life', 'Mobile', 'Motor', 'Property', 'Travel']
claim_count['Last_30_days_claim'] = [131, 137, 129, 119, 122, 121]
claim_count['Last_3_days_claim'] = [9, 9, 2, 10, 9, 12]
claim_count['CLAIM_VELOCITY'] = claim_count['Last_30_days_claim']/claim_count['Last_3_days_claim']
claim_count

  Insurance_Type  Last_30_days_claim  Last_3_days_claim  CLAIM_VELOCITY
0         Health                 131                  9       14.555556
1           Life                 137                  9       15.222222
2         Mobile                 129                  2       64.500000
3          Motor                 119                 10       11.900000
4       Property                 122                  9       13.555556
5         Travel                 121                 12       10.083333

# Task # 11

Find all low performing agents i.e. employees who are in the bottom 5 percentile based on Claims worked by them.

In [67]:
new_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION,ELIGIBLE_FOR_DISCOUNT
0,2020-06-01,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0,0,0
1,2020-06-01,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,Ricardo Gatlin,8595 West 81st Drive,NaN,Arvada,CO,80005,685-33-3536,N,61,80,Y,4,L,Rent,MI,40125819,JUND46859540983731,Bachelor,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0,0,0
2,2020-06-01,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,Lashawn Engles,637 Britannia Drive,NaN,Vallejo,CA,94591,378-36-0672,N,47,68,Y,6,L,Rent,MI,99513168,WGZZ90128415227650,PhD,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0,0,0
3,2020-06-01,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,Steven Bassett,2803 River Drive,NaN,Thunderbolt,GA,31404,669-92-1861,Y,36,16,Y,7,L,Mortgage,MI,18429110,WIKE91555436351397,Masters,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0,0,0
4,2020-06-01,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,Jason Rodriguez,7573 National Drive,NaN,Livermore,CA,94550,703-40-1033,Y,51,16,Y,2,M,Rent,HI,70752391,VYJW71311537294027,Masters,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0,0,0

In [68]:
Bottom_5_perct_agent = new_df.groupby(['AGENT_ID','AGENT_NAME'])['CLAIM_STATUS'].count().reset_index().sort_values('CLAIM_STATUS', ascending=True)
Bottom_5_perct_agent.head()

        AGENT_ID        AGENT_NAME  CLAIM_STATUS
251   AGENT00252       Harold Bonn             1
1160  AGENT01161   Charlotte Payne             1
627   AGENT00628   Marsha Kingsley             2
1076  AGENT01077     Sandra Tucker             2
535   AGENT00536  Florence Ashlock             2

In [69]:
new_df['CLAIM_STATUS'].count()

10000

In [77]:
claim_per = (Bottom_5_perct_agent['CLAIM_STATUS'] / 10000)*100

In [78]:
Bottom_5_perct_agent['CLAIM_STAUS_PERCENTAGE'] = claim_per

# employees who are in the bottom 5, percentile based on Claims worked by them.

In [79]:
Bottom_5_perct_agent.head()

        AGENT_ID        AGENT_NAME  CLAIM_STATUS  CLAIM_STAUS_PERCENTAGE
251   AGENT00252       Harold Bonn             1                    0.01
1160  AGENT01161   Charlotte Payne             1                    0.01
627   AGENT00628   Marsha Kingsley             2                    0.02
1076  AGENT01077     Sandra Tucker             2                    0.02
535   AGENT00536  Florence Ashlock             2                    0.02

# Task 12

Business wants to find all Suspicious Employees (Agents).
IF TOTAL CLAIM AMOUNT which meet below criteria is >= 15000 THEN AGENT is classified as Suspicious ELSE Not
CLAIM_STATUS = Approved AND CUSTOMER_RISK_SEGMENTATION = High AND INCIDENT_SEVERITY = “Major Loss”
If Suspicious, then 1 ELSE 0. Find mean of this column

In [73]:
new_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,CUSTOMER_NAME,ADDRESS_LINE1_x,ADDRESS_LINE2_x,CITY_x,STATE_x,POSTAL_CODE_x,SSN,MARITAL_STATUS,AGE,TENURE,EMPLOYMENT_STATUS,NO_OF_FAMILY_MEMBERS,RISK_SEGMENTATION,HOUSE_TYPE,SOCIAL_CLASS,ROUTING_NUMBER,ACCT_NUMBER,CUSTOMER_EDUCATION_LEVEL,CLAIM_STATUS,INCIDENT_SEVERITY,AUTHORITY_CONTACTED,ANY_INJURY,POLICE_REPORT_AVAILABLE,INCIDENT_STATE,INCIDENT_CITY,INCIDENT_HOUR_OF_THE_DAY,AGENT_ID,VENDOR_ID,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1_y,ADDRESS_LINE2_y,CITY_y,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION,CLAIM_DEVIATION,ELIGIBLE_FOR_DISCOUNT
0,2020-06-01,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,Christopher Demarest,7701 West Saint John Road,#2010,Glendale,AZ,85308,087-11-1946,Y,54,89,Y,3,L,Own,LI,109134974,HXJP58258181908465,Bachelor,A,Major Loss,Police,0,1,GA,Savannah,4,AGENT00413,VNDR00556,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0,0,0
1,2020-06-01,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,Ricardo Gatlin,8595 West 81st Drive,NaN,Arvada,CO,80005,685-33-3536,N,61,80,Y,4,L,Rent,MI,40125819,JUND46859540983731,Bachelor,A,Total Loss,Ambulance,1,0,AL,Montgomery,0,AGENT00769,VNDR00592,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0,0,0
2,2020-06-01,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,Lashawn Engles,637 Britannia Drive,NaN,Vallejo,CA,94591,378-36-0672,N,47,68,Y,6,L,Rent,MI,99513168,WGZZ90128415227650,PhD,A,Total Loss,Police,0,1,CO,Grand Junction,19,AGENT00883,VNDR00031,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0,0,0
3,2020-06-01,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,Steven Bassett,2803 River Drive,NaN,Thunderbolt,GA,31404,669-92-1861,Y,36,16,Y,7,L,Mortgage,MI,18429110,WIKE91555436351397,Masters,A,Minor Loss,Ambulance,0,0,GA,Savannah,12,AGENT00278,VNDR00075,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0,0,0
4,2020-06-01,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,Jason Rodriguez,7573 National Drive,NaN,Livermore,CA,94550,703-40-1033,Y,51,16,Y,2,M,Rent,HI,70752391,VYJW71311537294027,Masters,A,Major Loss,Police,0,1,TN,Nashville,18,AGENT00636,VNDR00472,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0,0,0

In [74]:
new_df['SUSPICIOUS_EMPLOYEES']=np.where(new_df['CLAIM_AMOUNT']>=15000,1,0)

In [75]:
new_df[['AGENT_ID','AGENT_NAME','CLAIM_STATUS','RISK_SEGMENTATION','INCIDENT_SEVERITY','CLAIM_AMOUNT','SUSPICIOUS_EMPLOYEES']]

,AGENT_ID,AGENT_NAME,CLAIM_STATUS,RISK_SEGMENTATION,INCIDENT_SEVERITY,CLAIM_AMOUNT,SUSPICIOUS_EMPLOYEES
0,AGENT00413,Amy Wangler,A,L,Major Loss,9000,0
1,AGENT00769,Jessica Montez,A,L,Total Loss,26000,1
2,AGENT00883,Howard Smith,A,L,Total Loss,13000,0
3,AGENT00278,Patricia Tucker,A,L,Minor Loss,16000,1
4,AGENT00636,Brenda Bean,A,M,Major Loss,3000,0
...,...,...,...,...,...,...,...
9995,AGENT00779,Melissa Scott,A,M,Minor Loss,1000,0
9996,AGENT00254,Freda Dudley,A,L,Total Loss,67000,1
9997,AGENT00786,Victor Perrin,A,M,Major Loss,8000,0
9998,AGENT00927,Maria Lynn,A,M,Total Loss,2000,0
9999,AGENT00118,Carl Balado,A,M,Total Loss,300,0

In [76]:
new_df['SUSPICIOUS_EMPLOYEES'].mean()

0.3516

# Mean of Suspicious_employees column is 0.3516